:root {
  /* --light: #d8d8d5; */
  /* --dark: #3f3e3e; */
  /* --neutral: #4e545c; */
  /* --accent: #74bdd3; */
  /* --tint: #aaa6a6; */

  --primary-dark: #16161a;
  --primary-light: #fffffe;
  --accent: #2cb67d;
}

/* GENERAL */

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 1.5rem;
}

.bg {
  position: relative;
  background: var(--primary-dark);
  color: var(--primary-light);
}

.bg.light {
  background: var(--primary-light);
  color: var(--primary-dark);
}

.container {
  max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem 0 5rem 0;
}

.selector {
  margin-bottom: 4rem;
}

.footer {
  border-top: 1px solid;
  text-align: center;
  width: 100%;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer a {
  text-decoration: none;
  color: var(--accent);
}

/* FIELD */

.input-form input {
  font-size: 1rem;
  color: var(--primary-light);
  border: 0;
  border-bottom: 2px solid;
  background: transparent;
  padding: 0.4rem;
  margin-bottom: 2rem;
  width: 100%;
  outline: none;
}

.input-form input::placeholder {
  font-size: 1.125rem;
  opacity: 0.4;
  color: var(--accent);
}

.light .input-form input {
  color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.light .input-form input::placeholder {
  opacity: 0.8;
}

/* SELECT */

.selector label {
  font-size: 1rem;
  display: block;
  color: var(--accent);
}

select {
  outline: none;
  border-radius: 4px;
  margin: 0.5rem 1rem 0 0.6rem;
  padding: 0.3rem;
}

option {
  border-radius: 4px;
  -webkit-border-radius: none;
}

/* OUTPUT */

.output-box {
  font-family: 'Noto Sans Mono', monospace;
  word-wrap: break-word;
  font-size: 1.25rem;
  color: var(--accent);
  min-height: 5rem;
  border: 2mm ridge;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light .output-box {
  border: 2mm ridge var(--primary-dark);
}

/* BUTTONS & TOOLTIPS */

.btn {
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.btn:hover {
  color: var(--accent);
}

.btn-clear {
  position: relative;
  border-radius: 50%;
  padding: 0.15rem 0.2rem;
  border: 1px solid #222121;
  box-shadow: 0px 1px 2px 1px #222121;
}

.btn-clear:active {
  box-shadow: 0px 0px 0px 0px #222121;
  transform: translateY(2px);
}

.btn-copy {
  position: absolute;
  bottom: 3px;
  right: 3px;
  border-radius: 5px;
  padding: 0.2rem;
  margin: 0.25rem;
}

.theme-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary-light);
}

.theme-btn svg:hover {
  color: var(--accent);
}

.light .theme-btn {
  color: var(--primary-dark);
}

.btn > span {
  display: none;
}

/* MEDIA QUERIES */

@media (min-width: 480px) {
  .btn > span {
    display: block;
    font-size: 0.8rem;
    font-style: italic;
    position: absolute;
    width: 4.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
  }

  .btn:hover #clear-tooltip,
  .btn:hover #copy-tooltip {
    visibility: visible;
    opacity: 1;
  }

  .btn-clear #clear-tooltip {
    left: 80%;
    bottom: 100%;
  }

  .btn-clear:active #clear-tooltip {
    transform: translateY(-2px);
  }

  .btn-copy #copy-tooltip {
    right: 25px;
    bottom: -35px;
  }

  .selector label {
    display: inline;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .input-form input {
    font-size: 1.25rem;
  }

  .selector label {
    font-size: 1.1rem;
  }
}
